head,body,#header{
    padding:0px;
    margin:0px;
    background-color:black;
}
h3{
    text-align: center;
    color:white;
    background-color:black;
    padding:8px;
}

h1{
    text-align: center;
}

ul{
    position: relative;
}

header{
    background-color:black;
    color:white;
}
