body{
    margin: 0px;
    padding:0px;
}

h1,p,ul{
    position:absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1{
    margin-top:10px;
    left:20px;
    padding:5px;
    width:100%;
    text-align: center;

}
h1:hover{
    transition-duration: 0.2s;
}

p{
    margin-top:60px;
    padding-top:2px;
}

ul{
    position:asolute;
    margin-top:75px;
    color:grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative;
    margin-left:50px;
}

table {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse:collapse;
    position:absolute;
    margin:50px;
    margin-top:520px;
}

td, th {
    text-align: left;
    padding: 8px;
}

td{
    color:black;
}

#mapImage{
    margin-top: 100px;
    margin-left:30px;
}